.mui-dropdown {
  float:left;
  height:0;
  position: absolute;
    z-index: 99999;

  .mui-btn {
    border:none;
    border-radius:3px;
    height:50px;
    width: 50px;
    margin: 0;
    padding: 0;
    box-shadow:none !important;
    @include respond-to(w240port){
      width: 25px;
      height: 40px;
    }
    @include respond-to(w240land){
      width: 25px;
      height: 40px;
    }
    @include respond-to(w320port){
      width: 40px;
      height: 40px;
    }
    @include respond-to(w320land){
      width: 40px;
      height: 40px;
    }
    img{
      height:  90%;
      position: relative;
      float: left;

    }
  }
  button:hover{
      height:50px;
      width: 50px;
      @include respond-to(w240port){
        height: 40px;
        width: 39px;

      }
      @include respond-to(w240land){
        height: 40px;
        width: 39px;
      }
      @include respond-to(w320port){
        width: 39px;
        height: 40px;
      }
      @include respond-to(w320land){
        width: 40px;
        height: 40px;
      }
    }
  }
  li {
    a {
      color: inherit;
      img{
            height:  26px;
            float: left;
            position: relative;
            border-radius: 1.5em 0 0 1.5em;

        }
    }
  }
.mui-dropdown__menu {
  li {
    a {
      color: $mui-primary-color;
      line-height: 32px;
    }
    a:hover {
      color: $mui-primary-color-light;

    }
  }
}
